<%- include("../includes/header.ejs") %>
    <form action="/add-product" method="post">
        <label for="HouseName">Name of house</label> <input type="text" name="title" required><br>
        <button type="submit">Submit</button>
    </form>
    <%- include("../includes/footer.ejs") %>